html,
body,
header,
#home {
          height: 100%;
          font-family: 'Roboto';
        }

@media (min-width: 560px) and (max-width: 740px){
          html,
          body,
          header,
          #home
          {
            height: 600px;
          }
        }

.navbar {
          background-color: black;
          display: flex;
          justify-content: flex-start;
        }

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Images/river-rocks-leo-rivas-25956-unsplash.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  padding: pt-3;
}

#home-text {
  text-align: center;
  text-decoration-color: white
  padding: pt-5;
}

#gallery img{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;

}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;